// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato|Roboto|Open+Sans');
@sans: 'Roboto', sans-serif;
@body: 'Lato', sans-serif;
@title: 'Montserrat';

// colors
@lightbase: #FFBC67;
@darkbase: #455C7B;
@pastrami:  #DA727E;
@lightaccent: #AC6C82;
@darkaccent: #685C79;

//sizing
@formwidth: 325px;
@inputwidth: @formwidth - 100;

//borders
@inputb: 3px solid @darkaccent;
@inputr: 6px;

html, body {
    margin: 0;
    padding: 0;
    font-family: @sans;
    background: @lightbase;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

#header {
    width: 100%;
    margin: auto;
    text-align: center;
}
#subFormLink {
    width: 100%;
    margin: auto;
    text-align: center;
}
#footer{
    position: relative;
    margin-top: 20px;
}
#mainBody {
    position: relative;
    margin-bottom: 100px;
}
#page {
    min-height: 100%;
}
.mainlight {
    min-height: 100%;
    color: @darkbase;
    ::placeholder {
        color: @lightbase - #352520;
    }
    .title {
        margin-left: 20px;
        font-family: @title;
        color: @lightaccent;
        h1 {
            font-size: 24px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        .container {
            text-align: center;
            margin: auto;
        }
    }
    #form {
        border: 4px solid @darkaccent;
        border-radius: 8px;
        background: @darkbase;
        color: @lightaccent;
        width: @formwidth;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 25px;
        position: relative;
        padding: 20px;
        text-align: center;
        .errors {
            align-content: center;
            width: 100%;
            padding: 10px;
            margin: auto;
            ul {
                padding: 2px;
                width: 200px;
                margin: auto;
                li {
                    list-style: none;
                    text-align: justify;
                }
            }
        }
        .formTitle {
            text-align: center;
            font-family: @title;
        }
        .input {
            font-family: @sans;
            color: @lightbase;
            background: @lightaccent;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: @inputwidth;
            height: 24px;
            padding-left: 3px;
            text-align: center;
        }
        .wrappingInput {
            font-family: @sans;
            color: @lightbase;
            background: @lightaccent;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: @inputwidth;
            height: 144px;
            padding-left: 3px;
        }
        .button {
            font-family: @sans;
            color: @darkbase;
            background: @pastrami;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 5px;
            width: @inputwidth + 25px;
            height: 42px;
            font-size: 16px;
        }
        .cautionButton {
            font-family: @sans;
            color: @pastrami;
            background: @lightaccent;
            border: @inputb;
            border-color: @pastrami;
            border-radius: @inputr;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 5px;
            width: @inputwidth + 25px;
            height: 42px;
            font-size: 16px;
        }
        .containter {
            align-content: center;
            width: 100%;
            margin: auto;
        }
        form {
            text-align: center;
            margin: auto;
        }
    }
}
.buttonPanel {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    .container {
        text-align: center;
        margin: auto;
        overflow: auto;
        display: inline-block;
        width: 80%;
        max-width: 900px;
        display: inline-block;
        form {
        }
    }
    .button {
        display: inline-block;
    }
    button {
        font-family: @sans;
        font-size: 24px;
        color: @lightaccent;
        background: @darkbase;
        border: @inputb;
        border-radius: 8px;
        margin: 12px;
        height: 150px;
        width: 300px;
        display: inline-block;
        animation-name: buttonto;
        animation-duration: 400ms;
    }
    @keyframes buttonto {
        0% {
            background: @darkbase + #457;
            border-width: 4px;
            border-color: @darkaccent + #546;
            color: @lightaccent - #322;
        }
        100% {
            border: @inputb;
            background: @darkbase;
            color: @lightaccent;
        }
    }
    @keyframes buttonfrom {
        0% {
            border: @inputb;
            background: @darkbase;
            color: @lightaccent;
        }
        100% {
            background: @darkbase + #457;
            border-width: 4px;
            border-color: @darkaccent + #546;
            color: @lightaccent - #322;
        }
    }
    button:hover {
        background: @darkbase + #457;
        border-width: 4px;
        border-color: @darkaccent + #546;
        color: @lightaccent - #322;
        animation-name: buttonfrom;
        animation-duration: 400ms;
    }
}
.productTableContainer {
    width: 500px;
    margin: auto;
    text-align: center;
    color: @lightbase;
    font-family: @sans;
    .productTable {
        margin: auto;
        width: 100%;
        background: @darkbase;
    }
    .productTableHeader {
        text-align: center;
    }
    .productTableOdd {
        background: @darkaccent;
    }
    .productTableEven {
        background: @darkbase;
    }
}
.link {
    margin: auto;
    display: inline;
    width: 100%;
    text-align: center;
    .container a {
        text-decoration: none;
        color: @darkaccent;
        font-family: @sans;
        margin: 25px;
    }
}

html {
    min-height: 100%;
}
body {
    height: 100%;
    overflow: auto;
}

/*.maindark {
}
.maindark {/*
    height: 100%;
    color: @lightbase;
    #page {
        border: 2px solid @darkaccent;
        border-radius: 4px;
    }
    ::placeholder {
        color: @darkbase - #352520;
    }
    .title {
        margin-left: 20px;
        font-family: @title;
        color: @darkaccent;
        h1 {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    #form {
        border: 4px solid @lightaccent;
        border-radius: 8px;
        background: @lightbase;
        color: @darkaccent;
        width: @formwidth;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 25px;
        position: relative;
        padding: 20px;
        text-align: center;
        .errors {
            align-content: center;
            width: 100%;
            padding: 10px;
            margin: auto;
            ul {
                padding: 2px;
                width: 200px;
                margin: auto;
                li {
                    list-style: none;
                    text-align: justify;
                }
            }
        }
        .formTitle {
            text-align: center;
            font-family: @title;
        }
        .input {
            font-family: @sans;
            color: @darkbase;
            background: @darkaccent;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: @inputwidth;
            height: 24px;
            padding-left: 3px;
            text-align: center;
        }
        .button {
            font-family: @sans;
            color: @lightbase;
            background: @pastrami;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 5px;
            width: @inputwidth + 25px;
            height: 42px;
            font-size: 16px;
        }
        .containter {
            align-content: center;
            width: 100%;
            margin: auto;
        }
        form {
            text-align: center;
            margin: auto;
        }
    }
} 

*/
html, body {
    overflow-x: hidden;
}