@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato|Roboto|Open+Sans');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #FFBC67;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#header {
  width: 100%;
  margin: auto;
  text-align: center;
}
#subFormLink {
  width: 100%;
  margin: auto;
  text-align: center;
}
#footer {
  position: relative;
  margin-top: 20px;
}
#mainBody {
  position: relative;
  margin-bottom: 100px;
}
#page {
  min-height: 100%;
}
.mainlight {
  min-height: 100%;
  color: #455C7B;
}
.mainlight ::placeholder {
  color: #ca9747;
}
.mainlight .title {
  margin-left: 20px;
  font-family: 'Montserrat';
  color: #AC6C82;
}
.mainlight .title h1 {
  font-size: 24px;
  text-transform: uppercase;
}
.mainlight .title h3 {
  font-size: 20px;
}
.mainlight .title h4 {
  font-size: 18px;
}
.mainlight .title .container {
  text-align: center;
  margin: auto;
}
.mainlight #form {
  border: 4px solid #685C79;
  border-radius: 8px;
  background: #455C7B;
  color: #AC6C82;
  width: 325px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 25px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.mainlight #form .errors {
  align-content: center;
  width: 100%;
  padding: 10px;
  margin: auto;
}
.mainlight #form .errors ul {
  padding: 2px;
  width: 200px;
  margin: auto;
}
.mainlight #form .errors ul li {
  list-style: none;
  text-align: justify;
}
.mainlight #form .formTitle {
  text-align: center;
  font-family: 'Montserrat';
}
.mainlight #form .input {
  font-family: 'Roboto', sans-serif;
  color: #FFBC67;
  background: #AC6C82;
  border: 3px solid #685C79;
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
  height: 24px;
  padding-left: 3px;
  text-align: center;
}
.mainlight #form .wrappingInput {
  font-family: 'Roboto', sans-serif;
  color: #FFBC67;
  background: #AC6C82;
  border: 3px solid #685C79;
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
  height: 144px;
  padding-left: 3px;
}
.mainlight #form .button {
  font-family: 'Roboto', sans-serif;
  color: #455C7B;
  background: #DA727E;
  border: 3px solid #685C79;
  border-radius: 6px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 250px;
  height: 42px;
  font-size: 16px;
}
.mainlight #form .cautionButton {
  font-family: 'Roboto', sans-serif;
  color: #DA727E;
  background: #AC6C82;
  border: 3px solid #685C79;
  border-color: #DA727E;
  border-radius: 6px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 250px;
  height: 42px;
  font-size: 16px;
}
.mainlight #form .containter {
  align-content: center;
  width: 100%;
  margin: auto;
}
.mainlight #form form {
  text-align: center;
  margin: auto;
}
.buttonPanel {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  margin: auto;
}
.buttonPanel .container {
  text-align: center;
  margin: auto;
  overflow: auto;
  width: 80%;
  max-width: 900px;
  display: inline-block;
}
.buttonPanel .button {
  display: inline-block;
}
.buttonPanel button {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #AC6C82;
  background: #455C7B;
  border: 3px solid #685C79;
  border-radius: 8px;
  margin: 12px;
  height: 150px;
  width: 300px;
  display: inline-block;
  animation-name: buttonto;
  animation-duration: 400ms;
}
@keyframes buttonto {
  0% {
    background: #89b1f2;
    border-width: 4px;
    border-color: #bda0df;
    color: #794a60;
  }
  100% {
    border: 3px solid #685C79;
    background: #455C7B;
    color: #AC6C82;
  }
}
@keyframes buttonfrom {
  0% {
    border: 3px solid #685C79;
    background: #455C7B;
    color: #AC6C82;
  }
  100% {
    background: #89b1f2;
    border-width: 4px;
    border-color: #bda0df;
    color: #794a60;
  }
}
.buttonPanel button:hover {
  background: #89b1f2;
  border-width: 4px;
  border-color: #bda0df;
  color: #794a60;
  animation-name: buttonfrom;
  animation-duration: 400ms;
}
.productTableContainer {
  width: 500px;
  margin: auto;
  text-align: center;
  color: #FFBC67;
  font-family: 'Roboto', sans-serif;
}
.productTableContainer .productTable {
  margin: auto;
  width: 100%;
  background: #455C7B;
}
.productTableContainer .productTableHeader {
  text-align: center;
}
.productTableContainer .productTableOdd {
  background: #685C79;
}
.productTableContainer .productTableEven {
  background: #455C7B;
}
.link {
  margin: auto;
  display: inline;
  width: 100%;
  text-align: center;
}
.link .container a {
  text-decoration: none;
  color: #685C79;
  font-family: 'Roboto', sans-serif;
  margin: 25px;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  overflow: auto;
}
/*.maindark {
}
.maindark {/*
    height: 100%;
    color: @lightbase;
    #page {
        border: 2px solid @darkaccent;
        border-radius: 4px;
    }
    ::placeholder {
        color: @darkbase - #352520;
    }
    .title {
        margin-left: 20px;
        font-family: @title;
        color: @darkaccent;
        h1 {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    #form {
        border: 4px solid @lightaccent;
        border-radius: 8px;
        background: @lightbase;
        color: @darkaccent;
        width: @formwidth;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 25px;
        position: relative;
        padding: 20px;
        text-align: center;
        .errors {
            align-content: center;
            width: 100%;
            padding: 10px;
            margin: auto;
            ul {
                padding: 2px;
                width: 200px;
                margin: auto;
                li {
                    list-style: none;
                    text-align: justify;
                }
            }
        }
        .formTitle {
            text-align: center;
            font-family: @title;
        }
        .input {
            font-family: @sans;
            color: @darkbase;
            background: @darkaccent;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: @inputwidth;
            height: 24px;
            padding-left: 3px;
            text-align: center;
        }
        .button {
            font-family: @sans;
            color: @lightbase;
            background: @pastrami;
            border: @inputb;
            border-radius: @inputr;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 5px;
            width: @inputwidth + 25px;
            height: 42px;
            font-size: 16px;
        }
        .containter {
            align-content: center;
            width: 100%;
            margin: auto;
        }
        form {
            text-align: center;
            margin: auto;
        }
    }
} 

*/
html,
body {
  overflow-x: hidden;
}
