<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/mainLayout.xhtml">
	<ui:define name="body">
		<div class="title">
			<div class="container">
				<h4>ADMIN HOME:</h4>
			</div>

		</div>
		<!-- Top of page .. Title of the page -->
		<div class="link">
			<div class="container">
				<a href="ProductForm.xhtml">Create a product</a> <a
					href="ProductList.xhtml">View products</a> <a href="HomePage.xhtml">Exit
					Admin</a>
			</div>
		</div>
	</ui:define>
</ui:composition>

</html>
