<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/layouts/mainLayout.xhtml">

	<!-- Top of page .. Browse for memes -->
	<ui:define name="body">
		<div class="title">
			<div class="container">
				<h3>Browse Memes Here</h3>
				<br></br>
				<form action="HomePage.xhtml">
					<div class="buttonPanel" id="shop">
						<button type="submit">Home Page</button>
					</div>
				</form>
				<br></br> <input type="text" name="search" p:placeholder="Search.." />
			</div>
		</div>

		<br></br>

		<div class="container">
			<div class="productTableContainer">
				<h:dataTable value="#{productList.products}" var="p"
					styleClass="productTable" headerClass="productTableHeader"
					rowClasses="productTableOdd,productTableEven">

					<h:column>
						<f:facet name="header">Product Name</f:facet>
						<p>#{p.name}</p>
					</h:column>
					<h:column>
						<f:facet name="header">Product Price</f:facet>
						<p>#{p.price}</p>
					</h:column>
					<h:column>
						<f:facet name="header">Product Description</f:facet>
						<p>#{p.description}</p>
					</h:column>
					<h:column>
						<h:form>
							<h:commandButton
								action="#{orderController.createOrder(p.name, p.price, user.firstName, user.email)}"
								value="Order" />

						</h:form>
					</h:column>
				</h:dataTable>

			</div>

		</div>

	</ui:define>

</ui:composition>
</html>