<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/mainLayout.xhtml">

	<ui:define name="body">
		<div>

			<center>Congratulations! your order has been placed!</center>

			<br></br>

			<center>pastrami memes await ahead ....</center>

			<center>
			<form action="BrowseProducts.xhtml" style="width: 100%; margin: auto; text-align: center;">
				<div class="buttonPanel" style="width: 100%; margin: auto; text-align: center;">
					<button class="button" type="submit">GO BACK</button>
				</div>
			</form>
			</center>

		</div>
	</ui:define>

</ui:composition>
</html>