
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/layouts/mainLayout.xhtml">
	<!-- Top of page .. Greeting to User -->
	<ui:define name="body">
		<div class="title">
			<div class="container">
				<h3>PASTRAMI ERROR</h3>
			</div>
		</div>
		<div class="container" style="text-align: center">
			<p>Looks like you caused an error. Congrats!</p>
		</div>
		<div class="link">
			<div class="container">
				<a href="/PMmilestone2/Login.xhtml">Log out.</a>
			</div>
		</div>
		<br />
		<div class="link">
			<div class="container">
				<a href="/PMmilestone2/HomePage.xhtml">Go home.</a>
			</div>
		</div>

	</ui:define>
</ui:composition>
</html>