
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/layouts/mainLayout.xhtml">
	<!-- Top of page .. Greeting to User -->
	<ui:define name="body">
		<div class="title">
			<div class="container"></div>
		</div>

		<div>
			<h1>PSYCH nothing here.</h1>
			<h2>This is a meme, what do you not get?</h2>
			<img src="img/jboss.jpg" alt="hi"/>
		</div>

		<!-- Links for Admin function && Log out function -->
		<div class="link">
			<div class="container">
				<a href="HomePage.xhtml">Back pls.</a> <a href="Login.xhtml">Log
					out</a>
			</div>
		</div>

	</ui:define>
</ui:composition>
</html>