
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/layouts/mainLayout.xhtml">
	<!-- Top of page .. Greeting to User -->
	<ui:define name="body">
		<div class="title">
			<div class="container">
				<h3>Hello #{user.firstName} #{user.lastName}.</h3>
				<h4>Welcome to pastrami meme heaven.</h4>
			</div>
		</div>

		<!-- Links for Admin function && Log out function -->
		<div class="link">
			<div class="container">
				<a href="AdminHome.xhtml">Admin</a> <a href="Login.xhtml">Log
					out</a>
			</div>
		</div>

		<!-- container for Buttons -->
		<div class="buttonPanel">
			<div class="container" id="functionContainer">
				<form action="BrowseProducts.xhtml" class="button" id="shop">
					<button type="submit">Shop</button>
				</form>
				<form action="FakeNews.xhtml" class="button" id="cart">
					<button>Cart</button>
				</form>
				<form action="FakeNews.xhtml" class="button" id="userSearches">
					<button>Recent Searches</button>
				</form>
				<form action="FakeNews.xhtml" class="button" id="userSettings">
					<button>Account Settings</button>
				</form>

			</div>
		</div>

	</ui:define>
</ui:composition>
</html>