<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/mainLayout.xhtml">

	<!-- Top of page .. Welcome landing page -->
	<ui:define name="body">
		<div class="container">

			<!-- Header location -->
			<div id="topForm">
				<div class="formTitle">
					<h1>Welcome</h1>
				</div>
				<h:form>
					<div class="errors">
						<h:messages />
					</div>
					<div class="container">
						<p>Welcome to PastramiMemes!</p>
						<br></br>
					</div>
				</h:form>
			</div>

			<!-- Registration && Login links for users -->
			<div class="containter" id="middleForm">
				<h:form>
					<div id="registerLink">
						<p>Don't have an account? Make one today!</p>
						<br></br> <a href="Registration.xhtml">Register</a>
					</div>

					<div id="loginLink">
						<p>Wait! You have an account!? Awesome!</p>
						<br></br> <a href="Login.xhtml">Login</a>
					</div>
				</h:form>
			</div>


		</div>
	</ui:define>
</ui:composition>
</html>