<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">


<ui:composition template="/layouts/mainLayout.xhtml">
	
	<!-- Login form -->
	<ui:define name="body">
		<div class="container">
			<div id="form">
				<div class="formTitle">
					<h1>Log In</h1>
				</div>
				<h:form>
					<div class="errors">
						<h:messages />
					</div>
					<div class="container">
						
						<h:inputText id="email" value="#{user.email}" class="input"
							p:placeholder="Email" />
						
					</div>
					<div class="container">
						<h:inputText id="password" p:type="password" value="#{user.password}" class="input"
							p:placeholder="Password" />
					</div>
					<div class="container">
						<h:commandButton action="#{loginController.onSubmit}"
							value="Log in" class="button" />
					</div>
				</h:form>
			</div>
			
			<!-- Registration link for users who haven't made an account yet -->
			<div id="subFormLink">
				<div class="link">
					<a href="Registration.xhtml">New user? Register here</a>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>