<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/mainLayout.xhtml">

	<!-- Login form -->
	<ui:define name="body">
		<div class="container">
			<div class="productTableContainer">
				<h:dataTable value="#{productList.products}" var="p"
					styleClass="productTable" headerClass="productTableHeader"
					rowClasses="productTableOdd,productTableEven">
					<h:column>
						<f:facet name="header">ID</f:facet>
						<p>#{p.id}</p>
					</h:column>
					<h:column>
						<f:facet name="header">Product Name</f:facet>
						<p>#{p.name}</p>
					</h:column>
					<h:column>
						<f:facet name="header">Product Price</f:facet>
						<p>#{p.price}</p>
					</h:column>
					<h:column>
						<f:facet name="header">Product Description</f:facet>
						<p>#{p.description}</p>
					</h:column>
					<h:column>
						<h:form>
							<h:commandButton
								action="#{updateProductController.getProductView(p.id)}"
								value="Edit" />
													
						</h:form>
					</h:column>
				</h:dataTable>
			</div>
			<div id="subFormLink">
				<a href="AdminHome.xhtml">Back to Admin Home</a>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>






