<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">


<ui:composition template="/layouts/mainLayout.xhtml">

	<!-- Top of page .. Registration form -->
	<ui:define name="body">
		<div class="container">

			<!-- Registation Form with fields: first name, last name, email, password -->
			<div id="form">
				<div class="formTitle">
					<h1>Register</h1>
				</div>
				<h:form>
					<div class="errors">
						<h:messages />
					</div>
					<div class="container">
						<h:inputText id="firstname" value="#{user.firstName}"
							class="input" p:placeholder="First" />
						<h:message for="firstName" />
					</div>
					<div class="container">
						<h:inputText id="lastname" value="#{user.lastName}" class="input"
							p:placeholder="Last" />
						<h:message for="lastName" />
					</div>
					<div class="container">
						<!-- Couldn't figure out placeholder -->
						<h:inputText id="email" value="#{user.email}" class="input"
							p:placeholder="Email" />
						<!-- <p:watermark for="email" value="Email" id="watermark" /> -->
					</div>
					<div class="container">
						<h:inputText id="password" p:type="password" value="#{user.password}" class="input"
							p:placeholder="Password" />
					</div>
					<div class="container">
						<h:commandButton action="#{registrationController.onSubmit}"
							value="submit" class="button" label="Login" />
					</div>
				</h:form>
			</div>

			<!-- Login link for those who already have an account -->
			<div id="subFormLink">
				<div class="link">
					<a href="Login.xhtml">Already have an account? Log in</a>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>