<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/layouts/mainLayout.xhtml">

	<!-- Login form -->
	<ui:define name="body">
		<div class="container">
			<div id="form">
				<div class="formTitle">
					<h1>Update Product</h1>
				</div>
				<h:form>
					<div class="errors">
						<h:messages />
					</div>
					<div class="hidden">
						<h:inputText id="productId" value="#{product.id}" class="hidden" p:type="hidden"/>
					</div>
					<div class="container">
						<h:inputText id="productPrice" value="#{product.price}"
							class="input" p:placeholder="0.00" />
					</div>
					<div class="container">
						<h:inputText id="productName" value="#{product.name}"
							class="input" p:placeholder="Name" />
					</div>
					<div class="container">
						<h:inputTextarea id="productDescription"
							value="#{product.description}" class="wrappingInput"
							p:placeholder="Description" />
					</div>
					<div class="container">
						<h:inputText id="productImage" value="#{product.image}"
							class="input" p:placeholder="Image" />
					</div>
					<div class="container">
						<h:form>
							<h:commandButton
								action="#{updateProductController.updateProduct()}"
								value="Update" class="button" />
							<h:commandButton
								action="#{updateProductController.deleteProduct()}"
								value="Delete" class="cautionButton" />
							<h:commandButton class="cautionButton"
								action="#{updateProductController.cancel()}" value="Cancel" />
						</h:form>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>
