<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<ui:insert name="head">
		<ui:include src="/layouts/head.xhtml" />
	</ui:insert>
</h:head>
<h:body>
	<div id="page" class="mainlight">
		<!-- include Header -->
		<div id="header">
			<ui:insert name="header">
				<ui:include src="/layouts/mainHeader.xhtml" />
			</ui:insert>
		</div>

		<!-- Insert Content -->
		<div id="mainBody">
			<f:view>
				<ui:insert name="body">
					<ui:include src="/layouts/mainBody.xhtml" />
				</ui:insert>
			</f:view>
		</div>

		<!-- Insert Footer -->
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/layouts/mainFooter.xhtml" />
			</ui:insert>
		</div>
	</div>

</h:body>
</html>
